<div class="shop-by-theme">
  {% if section.settings.heading != blank %}
    <h2 class="shop-by-theme__heading">{{ section.settings.heading }}</h2>
  {% endif %}

  {% if section.settings.subheading != blank %}
    <p class="shop-by-theme__subheading">{{ section.settings.subheading }}</p>
  {% endif %}

  <div class="shop-by-theme__grid">
    {% for block in section.blocks %}
      {% assign collection = block.settings.category_collection %}
      {% if collection != blank %}
        <a href="{{ collection.url }}" class="shop-by-theme__item" {{ block.shopify_attributes }}>
          {% if collection.image != blank %}
            <img
              src="{{ collection.image | image_url: width: 120, height: 120 }}"
              width=""
              height=""
              alt="{{ collection.title }}"
              class="shop-by-theme__item-image"
            >
          {% endif %}
          <p class="shop-by-theme__item-name">{{ collection.title }}</p>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>

<style>
  .shop-by-theme {
    text-align: center;
    margin: 40px 0;
    background-color: rgba(255, 250, 244, 1);
    padding: 48px 0px;
  }

  .shop-by-theme__heading {
    font-size: 38px;
    margin-bottom: 8px;
    font-family: 'Sacramento', cursive;
    color: #7295bb;
  }

  .shop-by-theme__subheading {
    font-size: 38px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  .shop-by-theme__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    justify-items: center;
    padding: 0px 52px;
  }

  .shop-by-theme__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .shop-by-theme__item-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 8px;
  }

  .shop-by-theme__item-name {
    font-size: 14px;
    font-weight: 500;
  }

  @media (max-width: 768px) {
    .shop-by-theme__grid {
      grid-template-columns: repeat(3, 1fr);
       padding: 0px 24px;
    }

    .shop-by-theme__item-image {
      width: 76px;
      height: 76px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 8px;
    }
    
  }
</style>

{% schema %}
{
  "name": "Shop by Theme",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Shop"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "By Theme"
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "collection",
          "id": "category_collection",
          "label": "Select Collection"
        }
      ]
    }
  ],
  "max_blocks": 12,
  "presets": [
    {
      "name": "Shop by Theme",
      "category": "Collections",
      "blocks": [{ "type": "category" }, { "type": "category" }, { "type": "category" }]
    }
  ]
}
{% endschema %}
